<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Mohamed Rezk. It uses data from WeatherStack and PositionStack</p>
    </div>

    {{>footer}}
</body>
</html>